[submodule "mmdetection"]
	path = mmdetection
	url = https://github.com/Alias-z/mmdetection.git
	branch = Rein
[submodule "mmsegmentation"]
	path = mmsegmentation
	url = https://github.com/Alias-z/mmsegmentation.git
	branch = Rein
[submodule "sam-hq"]
	path = sam-hq
	url = https://github.com/Alias-z/sam-hq.git
